<?xml version="1.0"?><!--
/**
 * Ho_Import
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the H&O Commercial License
 * that is bundled with this package in the file LICENSE_HO.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.h-o.nl/license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@h-o.com so we can send you a copy immediately.
 *
 * @category    Ho
 * @package     Ho_Import
 * @copyright   Copyright © 2012 H&O (http://www.h-o.nl/)
 * @license     H&O Commercial License (http://www.h-o.nl/license)
 * @author      Paul Hachmang – H&O <info@h-o.nl>
 *
 * 
 */
-->
<config>
    <tabs>
        <ho_config translate="label" module="ho_import">
            <label>H&amp;O</label>
            <sort_order>300</sort_order>
        </ho_config>
    </tabs>
    <sections>
        <ho_import translate="label" module="ho_import">
            <label>Postbeeld Product Synchronisation</label>
            <tab>ho_config</tab>
            <sort_order>130</sort_order>
            <show_in_default>1</show_in_default>
            <groups>
                <!--<product translate="label">-->
                    <!--<label>Product Synchronization</label>-->
                    <!--<comment><![CDATA[<div style="margin:-15px -20px 10px -20px; padding: 8px 20px; background: #e7efef; border-bottom: 1px solid #cddddd;">-->
                        <!--<p>Once a product changes in Expression Engine, the information is transferred-->
                        <!--to Magento. You can run the product synchronisation manually through the-->
                        <!--shell. cd to the shell directory and you can run the following:</p>-->

                        <!--<ul>-->
                            <!--<li><code>php postbeeldimport.php -action updateFlatCategories</code></li>-->
                            <!--<li><code>php postbeeldimport.php -action updateAllCategories</code></li>-->
                            <!--<li><code>php postbeeldimport.php -action updateMutatedProducts -partialIndexing 1</code></li>-->
                            <!--<li><code>php postbeeldimport.php -action updateAllProducts -perpage 2000 -page 12 -partialIndexing 1</code></li>-->
                            <!--<li><code>bash postbeeldimport.sh //to run a full update, will take about 24 hours.</code></li>-->
                        <!--</ul>-->
                    <!--</div>]]></comment>-->
                    <!--<frontend_type>text</frontend_type>-->
                    <!--<sort_order>10</sort_order>-->
                    <!--<show_in_default>1</show_in_default>-->
                    <!--<fields>-->
                        <!--<update_date translate="label comment" module="ho_import">-->
                            <!--<label>Last Update Date</label>-->
                            <!--<frontend_type>text</frontend_type>-->
                            <!--<can_be_empty>1</can_be_empty>-->
                            <!--<sort_order>10</sort_order>-->
                            <!--<validate>validate-digits</validate>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<comment>Date of last updated item that is processed.</comment>-->
                        <!--</update_date>s-->
                        <!--<auto_update_attributes translate="label comment" module="ho_import">-->
                            <!--<label>Auto-update attributes</label>-->
                            <!--<frontend_type>text</frontend_type>-->
                            <!--<can_be_empty>1</can_be_empty>-->
                            <!--<sort_order>20</sort_order>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<comment>For auto-updating dropdown attributes. Comma separated. ex: country,year</comment>-->
                        <!--</auto_update_attributes>-->
                        <!--<partial_indexing translate="label comment" module="ho_postbeeldinventory">-->
                            <!--<label>Partial Indexing</label>-->
                            <!--<frontend_type>select</frontend_type>-->
                            <!--<validate>required-entry</validate>-->
                            <!--<source_model>adminhtml/system_config_source_yesno</source_model>-->
                            <!--<sort_order>50</sort_order>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<comment>Once we are done indexing, should we reindex the products?</comment>-->
                        <!--</partial_indexing>-->
                        <!--<continue_after_errors translate="label comment" module="ho_postbeeldinventory">-->
                            <!--<label>Continue After Errors</label>-->
                            <!--<frontend_type>select</frontend_type>-->
                            <!--<validate>required-entry</validate>-->
                            <!--<source_model>adminhtml/system_config_source_yesno</source_model>-->
                            <!--<sort_order>50</sort_order>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<comment>If we encounter any errors, should we continue?</comment>-->
                        <!--</continue_after_errors>-->
                        <!--<update_cron translate="label comment"-->
                                    <!--module="ho_postbeeldinventory">-->
                            <!--<label>Update Cron</label>-->
                            <!--<frontend_type>text</frontend_type>-->
                            <!--<sort_order>20</sort_order>-->
                            <!--<show_in_default>1</show_in_default>-->
                            <!--<comment><![CDATA[-->
                                <!--Default value: <code>*/15 * * * *</code> for-->
                                <!--every 15 minutes.<br />-->
                                <!--<a href="http://www.adminschoice.com/crontab-quick-reference"-->
                                <!--target="_blank">Crontab Quick Reference</a>-->
                            <!--]]></comment>-->
                        <!--</update_cron>-->
                    <!--</fields>-->
                <!--</product>-->
            </groups>
        </ho_import>
    </sections>
</config>