<?xml version="1.0"?>
<!--
  ~ Copyright © 2017 H&O E-commerce specialisten B.V. (http://www.h-o.nl/)
  ~ See LICENSE.txt for license details.
  -->

<config>
	<modules>
		<Ho_Import>
			<version>1.7.2</version>
		</Ho_Import>
	</modules>
	<global>
		<blocks>
			<ho_import>
				<class>Ho_Import_Block</class>
			</ho_import>
		</blocks>
		<helpers>
			<ho_import>
				<class>Ho_Import_Helper</class>
			</ho_import>
		</helpers>
        <models>
            <ho_import>
                <class>Ho_Import_Model</class>
                <resourceModel>ho_import_resource</resourceModel>
            </ho_import>
            <ho_import_resource>
                <class>Ho_Import_Model_Resource</class>
                <entities>
                    <entity>
                        <table>ho_import_entity</table>
                    </entity>
                </entities>
            </ho_import_resource>
            <importexport_resource>
                <rewrite>
                    <import_data>Ho_Import_Model_ImportExport_Resource_Import_Data</import_data>
                </rewrite>
            </importexport_resource>
        </models>
        <resources>
            <ho_import_setup>
                <setup>
                    <module>Ho_Import</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </ho_import_setup>
        </resources>
		<events>
            <catalog_product_edit_action>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>ho_import/observer</class>
                        <method>catalogProductEditAction</method>
                    </ho_import>
                </observers>
            </catalog_product_edit_action>
            <controller_action_layout_load_before>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>ho_import/observer</class>
                        <method>catalogCategoryEditAction</method>
                    </ho_import>
                </observers>
            </controller_action_layout_load_before>

            <catalog_product_import_finish_before>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>ho_import/observer</class>
                        <method>linkProductsToProfile</method>
                    </ho_import>
                </observers>
            </catalog_product_import_finish_before>
            <catalog_category_import_finish_before>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>ho_import/observer</class>
                        <method>linkCategoriesToProfile</method>
                    </ho_import>
                </observers>
            </catalog_category_import_finish_before>
            <fastsimpleimport_reindex_products_before>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>ho_import/observer</class>
                        <method>progressLog</method>
                    </ho_import>
                </observers>
            </fastsimpleimport_reindex_products_before>
            <fastsimpleimport_reindex_products_before_indexer_stock>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>ho_import/observer</class>
                        <method>progressLog</method>
                    </ho_import>
                </observers>
            </fastsimpleimport_reindex_products_before_indexer_stock>
            <fastsimpleimport_reindex_products_before_product_indexer_price>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>ho_import/observer</class>
                        <method>progressLog</method>
                    </ho_import>
                </observers>
            </fastsimpleimport_reindex_products_before_product_indexer_price>
            <fastsimpleimport_reindex_products_before_category_indexer_product>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>ho_import/observer</class>
                        <method>progressLog</method>
                    </ho_import>
                </observers>
            </fastsimpleimport_reindex_products_before_category_indexer_product>
            <fastsimpleimport_reindex_products_before_product_indexer_eav>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>ho_import/observer</class>
                        <method>progressLog</method>
                    </ho_import>
                </observers>
            </fastsimpleimport_reindex_products_before_product_indexer_eav>
            <fastsimpleimport_reindex_products_before_fulltext>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>ho_import/observer</class>
                        <method>progressLog</method>
                    </ho_import>
                </observers>
            </fastsimpleimport_reindex_products_before_fulltext>
            <fastsimpleimport_reindex_products_before_ecomdev_urlrewrite>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>ho_import/observer</class>
                        <method>progressLog</method>
                    </ho_import>
                </observers>
            </fastsimpleimport_reindex_products_before_ecomdev_urlrewrite>
            <fastsimpleimport_reindex_products_before_urlrewrite>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>ho_import/observer</class>
                        <method>progressLog</method>
                    </ho_import>
                </observers>
            </fastsimpleimport_reindex_products_before_urlrewrite>
            <fastsimpleimport_reindex_products_before_flat>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>ho_import/observer</class>
                        <method>progressLog</method>
                    </ho_import>
                </observers>
            </fastsimpleimport_reindex_products_before_flat>
            <fastsimpleimport_reindex_products_after>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>ho_import/observer</class>
                        <method>progressLog</method>
                    </ho_import>
                </observers>
            </fastsimpleimport_reindex_products_after>
            <fastsimpleimport_reindex_products_delete_before>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>ho_import/observer</class>
                        <method>progressLog</method>
                    </ho_import>
                </observers>
            </fastsimpleimport_reindex_products_delete_before>
            <fastsimpleimport_reindex_products_delete_after>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>ho_import/observer</class>
                        <method>progressLog</method>
                    </ho_import>
                </observers>
            </fastsimpleimport_reindex_products_delete_after>
            <fastsimpleimport_reindex_category_before_flat>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>Ho_Import_Model_Observer</class>
                        <method>progressLog</method>
                    </ho_import>
                </observers>
            </fastsimpleimport_reindex_category_before_flat>
            <fastsimpleimport_reindex_category_before_ecomdev_urlrewrite>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>Ho_Import_Model_Observer</class>
                        <method>progressLog</method>
                    </ho_import>
                </observers>
            </fastsimpleimport_reindex_category_before_ecomdev_urlrewrite>
            <fastsimpleimport_reindex_category_before_urlrewrite>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>Ho_Import_Model_Observer</class>
                        <method>progressLog</method>
                    </ho_import>
                </observers>
            </fastsimpleimport_reindex_category_before_urlrewrite>
            <fastsimpleimport_reindex_category_after>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>Ho_Import_Model_Observer</class>
                        <method>progressLog</method>
                    </ho_import>
                </observers>
            </fastsimpleimport_reindex_category_after>
            <fastsimpleimport_reindex_category_enterprise_before>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>Ho_Import_Model_Observer</class>
                        <method>progressLog</method>
                    </ho_import>
                </observers>
            </fastsimpleimport_reindex_category_enterprise_before>
            <fastsimpleimport_reindex_product_enterprise_before>
                <observers>
                    <ho_import>
                        <type>singleton</type>
                        <class>Ho_Import_Model_Observer</class>
                        <method>progressLog</method>
                    </ho_import>
                </observers>
            </fastsimpleimport_reindex_product_enterprise_before>
		</events>
	</global>
	<frontend>
		<!--<routers>-->
			<!--<ho_import>-->
				<!--<use>standard</use>-->
				<!--<args>-->
					<!--<module>Ho_Import</module>-->
					<!--<frontName>ho_import</frontName>-->
				<!--</args>-->
			<!--</ho_import>-->
		<!--</routers>-->
		<!--<layout>-->
			<!--<updates>-->
				<!--<ho_import module="ho_import">-->
					<!--<file>ho/import.xml</file>-->
				<!--</ho_import>-->
			<!--</updates>-->
		<!--</layout>-->
        <!--<translate>-->
            <!--<modules>-->
                <!--<ho_import>-->
                    <!--<files>-->
                        <!--<default>Ho_Import.csv</default>-->
                    <!--</files>-->
                <!--</ho_import>-->
            <!--</modules>-->
        <!--</translate>-->
	</frontend>
    <adminhtml>
        <!--<translate>-->
            <!--<modules>-->
                <!--<ho_import>-->
                    <!--<files>-->
                        <!--<default>Ho_Import.csv</default>-->
                    <!--</files>-->
                <!--</ho_import>-->
            <!--</modules>-->
        <!--</translate>-->
        <layout>
            <updates>
                <ho_import module="ho_import">
                    <file>ho/import.xml</file>
                </ho_import>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ho_Import before="Mage_Adminhtml">Ho_Import_Adminhtml</Ho_Import>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	<default>
		<!--<ho_import>-->
			<!--<group>-->
				<!--<variable>somevar</variable>-->
			<!--</group>-->
		<!--</ho_import>-->
	</default>
	<crontab>
		<jobs>
			<ho_import_schedule>
				<schedule><cron_expr>0 * * * *</cron_expr></schedule>
				<run><model>ho_import/observer::schedule</model></run>
			</ho_import_schedule>
		</jobs>
	</crontab>
</config>
