<?xml version="1.0"?>
<config>
    <tabs>
        <ho_config translate="label" module="ho_import">
            <label>H&amp;O</label>
            <sort_order>0</sort_order>
        </ho_config>
    </tabs>
    <sections>
        <ho_import translate="label" module="ho_import">
            <label>H&amp;O Import</label>
            <tab>ho_config</tab>
            <sort_order>800</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Settings</label>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <reuse_mapping_on_failure translate="label">
                            <label>Reuse mapping on failure</label>
                            <sort_order>10</sort_order>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>ho_import/source_profiles</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </reuse_mapping_on_failure>
                    </fields>
                </settings>
            </groups>
        </ho_import>
    </sections>
</config>
